.card-container {
  width: 400px;
  margin: 32px;
}

.card-white {
  background-color: white;
  padding: 16px;
  margin-bottom: 16px;
}

.card-image {
  height: 200px;
  background-size: cover;
}
.card-white a {
  opacity: 0;
  transition: 1s;
}

.card-white:hover a {
  opacity: 1;
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.cards {
  display: flex;
}